.header {
    width: 100%;
    display: block;
    background-color: #757575;
    height: 30px;
}

.brand-header {
    max-width: 1000px;
    margin: auto;
}

.brand-header img {
    float: left;
    height: 100%;
    max-height: 30px;
    padding: 0px;
    margin: 0px 10px;
    border: none;
}

.brand {
    float: left;
    color: whitesmoke;
    margin: 5px 0px;
}
